<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roof.coupon.itemcatsfeatures.dao">
	<sql id="columnsAs">
		t1.id as id, t1.item_cats_cid as itemCatsCid, t1.attr_key as attrKey, t1.attr_value as attrValue
	</sql>
	
	<select id="selectItemCatsFeaturesPage" resultType="com.roof.coupon.itemcatsfeatures.entity.ItemCatsFeaturesVo">
		select
		<include refid="columnsAs"/>
		from
		c_item_cats_features t1
		join
		(SELECT
		id
		from
		c_item_cats_features
		where 1=1
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectItemCatsFeaturesCount" resultType="java.lang.Long">
		select
		count(id)
		from c_item_cats_features
		where 1=1
		<include refid="conds" />
	</select>
</mapper>