<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">
    <bean id="localCacheManager" class="org.springframework.cache.guava.GuavaCacheManager">
        <property name="allowNullValues" value="false"/>
        <property name="cacheSpecification" value="expireAfterAccess=30d"/>
    </bean>
</beans>